<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nirvanaeatery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.NirvanaEatery"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Receipt"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Permissions.LocationPermission"
            android:exported="false" />
        <activity
            android:name=".Activity.Purchases"
            android:exported="false" />
        <activity
            android:name=".Activity.Profile.Wallet"
            android:exported="false" />
        <activity
            android:name=".Activity.Profile.AccountDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.PastaSideDish"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.ChapatiSideDish"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.UgaliSideDish"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.RiceSideDish"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.SoftDrinks"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.HotDrinks"
            android:exported="false" />
        <activity
            android:name=".Activity.SubCategories.NonAlcoholicDrinks"
            android:exported="false" />
        <activity
            android:name=".Activity.FoodDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.Cartegories.Drinks"
            android:exported="false" />
        <activity
            android:name=".Activity.Cartegories.Snacks"
            android:exported="false" />
        <activity
            android:name=".Activity.Cartegories.FastFood"
            android:exported="false" />
        <activity
            android:name=".Activity.Cartegories.Breakfast"
            android:exported="false" />
        <activity
            android:name=".Activity.Cartegories.Heavy_Meals"
            android:exported="false" />
        <activity
            android:name=".Activity.TrackOrder"
            android:exported="false" />
        <activity
            android:name=".Activity.Support"
            android:exported="false" />
        <activity
            android:name=".Activity.Account"
            android:exported="false" />
        <activity
            android:name=".Activity.Cart"
            android:exported="false" />
        <activity
            android:name=".Activity.MainMenu"
            android:exported="false" />
        <activity
            android:name=".Activity.Complete_SigningUp"
            android:exported="false" />
        <activity
            android:name=".Activity.OTP_Verification"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Get_Started"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>